.aboutUsComp{
  padding: 2rem;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.leftAboutUs h1{
  font-size: 2rem;
  text-align: center;
}
.leftAboutUs p{
  font-size: 1rem;
  text-align: center;
  color: #4C5967;
  font-weight: 400;
}
.rightAboutUs{
  display: grid;
  place-items: center;
}
.aboutUsImage{
  width: 25rem;
  height: auto;
  object-fit: contain;
  object-position: center;
  border-radius: 50%;
  margin: 0.5rem;
}
@media screen and (max-width: 800px) {
  .aboutUsComp{
    grid-template-columns: 1fr;
  }
  .aboutUsImage {
    width: 100%;
  }
}