<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<style>
  body {
    margin: 0;
    background: #242424;
    display: grid;
    color: white;
    place-items: center;
    font-size: 2vw;
    height: 100vh;
    font-family: system-ui;
  }
</style>

<body>
  <h1>Nitai Techno Labs - Backend</h1>
</body>

</html>